.picker_area1
{
    position: relative;
    width: 448px;
    margin: 28px auto 0;
    .picker_area1_cover{
        position: absolute;
        top: 0;
        left: 3%;
        width: 94%;
        height: 20px;
        background: #9F9089;
        border-radius: 5px;
    }
    .picker_area1_containor
    {
        z-index: 10;
        position: relative;
        width: 100%;
        padding-bottom: 10px;
        margin: 5px 0 0 7px;
        background:#F0E9E2;
        border-radius: 5px;
    }
    .picker_area1_header
    {
        display: flex;
        align-items: center;
        width: 418px;
        margin: 0 auto;
        height: 55px;
        h3{
            height: 100%;
            display: flex;
            margin: 0;
            align-items: center;
            font-weight: normal;
            .picker_area1_header_icon
            {
                display: block;
                width: 34px;
                height: 34px;
                background:url(../../assets/Content_img/Content_img/Treasure_icon.png) no-repeat;
                background-size: 100% 100%;
            }
            span
            {
                display: block;
                height: 34px;
                font-size: 20px;
                color: #817472;
                line-height: 34px;
                margin-left: 5px;
            }
        }
        .switch_btn
        {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 180px;
            height: 30px;
            background:url(../../assets/Content_img/Content_img/bac_switch.png) no-repeat;
            background-size: 100% 100%;
            margin-left: 80px;
            span{
                display: block;
                height: 100%;
                line-height: 30px;
                z-index: 99;
                font-size: 16px;
                color: #817472;
                cursor: pointer;
            }
        }
        @mixin switchbtn {
            position: absolute;
            top: 2px;
            left: 2px;
            width: 90px;
            height: 26px;
            background:url(../../assets/Content_img/Content_img/bac_switch_btn.png) no-repeat;
            background-size: 100% 100%;
        }
        @keyframes switchright{
            from{
                left:2px;
            }
            to{
                left: 88px;
            }
        }
        @keyframes switchleft{
            from{
                left: 88px;
            }
            to{
                left:2px
            }
        }
        .switch_btn_normal
        {
            @include switchbtn;
        }
        .switch_btn_on
        {
            @include switchbtn;
            animation: switchright 0.5s forwards;
        }
        .switch_btn_off
        {
            @include switchbtn;
            animation: switchleft 0.5s forwards;
        }
        .selected_span
        {
            color: #FFFADE !important;
        }
        .fold_btn{
            display: block;
            width: 18px;
            height: 12px;
            margin-left: 20px;
            background: url(../../assets/Content_img/Content_img/treasure_fold.png) no-repeat;
            background-size: 100% 100%;
        }
        .fold_btn.off
        {
            background: url(../../assets/Content_img/Content_img/treasure_unfold.png) no-repeat;
            background-size: 100% 100%;
        }
    }
    @keyframes panel_fold
    {
        from{
            height:130px;
        }
        to{
            height: 0;
            border: 0px solid #D0C8C4;
        }
    }
    @keyframes panel_unfold
    {
        from{
            height: 0;
            border: 0px solid #D0C8C4;
        }
        to{
            height: 130px;
            border: 1px solid #D0C8C4;
        }
    }
    .picker_area1_main{
        width: 428px;
        height: 130px;
        margin: 0 auto;
        background: #D5CEC7;
        box-shadow: 0px 0px 8px 0px rgba(96, 81, 48, 0.15);
        border: 1px solid #D0C8C4;
        border-radius: 5px;
        overflow: hidden;
        animation: panel_fold 0.5s forwards;
    }
    .picker_area1_main.off{
        animation: panel_unfold 0.5s forwards;
    }
    .picker_area1_main::-webkit-scrollbar
    {
        width: 8px;
        background: #F0E9E2;
        border-radius: 4px;
    }
    .picker_area1_main::-webkit-scrollbar-thumb
    {
        width: 8px;
        height: 10px;
        background: #685E5C;
        border-radius: 4px;
    }
}
.typeselect,
.methodselect {
    position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden scroll;
    margin: 10px auto 0;
    .selector_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .selector_list_option {
    position: relative;
    width: 190px;
    height: 50px;
    background: url(../../assets/Content_img/item_normal.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    cursor: pointer;
    }
    .options_icon {
    display: block;
    position: absolute;
    background: url(../../assets/Content_img/Content_img/icon1.png) no-repeat;
    width: 35px;
    height: 35px;
    background-size: 100% 100%;
    top: 7px;
    left: 3.4px;
    }
    .options_info {
    width: 140px;
    height: 96%;
    margin: 2px 0 0 38px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: scale(0.85);
    span {
        display: block;
    }
    .options_name {
        height: 22px;
        line-height: 22px;
        font-size: 18px;
        color: #8d807d;
    }
    .options_count {
        height: 16px;
        font-size: 13px;
        line-height: 16px;
        color: #817472;
    }
    .progress {
        width: 100px;
        height: 3px;
        margin-top: 2px;
        background: #817472;
        border-radius: 2px;
    }
    .progress_finish {
        width: 40%;
        height: 3px;
        background: #00f5ff;
        border-radius: 2px;
    }
    }
    .selector_list_option.on {
    background: url(../../assets/Content_img/item_selected.png) no-repeat;
    .options_name,
    .options_count {
        color: #fffade;
    }
    }
}
.typeselect::-webkit-scrollbar {
    width: 8px;
    background: none;
    border-radius: 4px;
}
.methodselect::-webkit-scrollbar {
    width: 8px;
    background: #f0e9e2;
    border-radius: 4px;
}
.typeselect::-webkit-scrollbar-thumb,
.methodselect::-webkit-scrollbar-thumb {
    width: 8px;
    height: 10px;
    background: #685e5c;
    border-radius: 4px;
}
.methodselect
{
    width: 99% !important;
    height: 110px;
    padding-right: 5px;
}
  