//筛选器样式
@font-face {
    font-family: font;
    src: url(../assets/hywh_thin2.ttf);
}
//高分辨率
@media screen and (min-width:3000px){
    .picker {
        zoom: 2;
    }
}
@media screen and (min-width:2049px) and (max-width:2900px){
    .picker {
        zoom: 1.1;
    }
}
//中形屏幕
@media screen and (min-width:1440px) and (max-width:1768px) {
    .picker {
        zoom: 0.8;
    }
}
//小型屏幕
@media screen and (min-width:1280px) and (max-width:1439px) {
    .picker {
        zoom: 0.6;
    }
}

.picker
{
    position: fixed;
    z-index: 9999;
    right:5px;
    top: 5px;
    width: 480px;
    height: 870px;
    max-height: 1044px;
    background: url(../assets/Content_img/Content_img/bac.png) no-repeat;
    background-size: 100% 100%;
    user-select: none;
    overflow: hidden scroll;
    animation: picker_on 0.5s forwards;

    .picker_header
    {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 13%;
        .picker_header_bg{
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 251px;
            background:url(../assets/Content_img/Content_img/bac.png) no-repeat;
            background-position: 0px 0px;
        }
        .avatar{
            position: relative;
            width:104px;
            height:80px;
            background: url(../assets/Content_img/Content_img/avatar_bg.png) no-repeat;
            background-size: 100% 100%;
            margin: 30px 0 0 30px;
            .avatar_img
            {
                position: absolute;
                width: 66px;
                height: 66px;
                top: 6%;
                left: 18%;
            }
        }
        .info_part{
            width: 62%;
            height: 30%;
            margin: 30px 20px 0 0;
            .user_link{
                display: block;
                color: #D7D2B8;
                font-size: 22px;
                text-decoration: none;
            }
            .info_part-links
            {
                display: flex;
                margin-top: 20px;
                a{
                    display: flex;
                    font-size: 18px;
                    color: #D7D2B8;
                    text-decoration: none;
                    margin-right: 30px;
                }
                @mixin icon {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin-right: 5px;
                }
                .icon1{
                    @include icon;
                    background: url(../assets/Content_img/Content_img/icon_cloud.png) no-repeat;
                    background-size: 100% 100%;
                }
                .icon2{
                    @include icon();
                    background: url(../assets/Content_img/Content_img/icon_fankui.png) no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    }
}
.picker.off{
    animation: picker_off 0.5s forwards;
}
@keyframes picker_on {
    from{
        right: -485px;
    }
    to{
        right: 5px;
    }
    
}
@keyframes picker_off {
    from{
        right: 5px;
    }
    to{
        right: -485px;
    }
    
}
// @keyframes switch_btn_on {
//     from{
//         right: 10px;
//     }
//     to{
//         right: 485px;
//     }
    
// }
// @keyframes switch_btn_off {
//     from{
//         right: 485px;
//     }
//     to{
//         right: 10px;
//     }
    
// }
.picker::-webkit-scrollbar
{
    background:none;
}
.sidebar{
    position: fixed;
    width: 100px;
    height: 822px;
    top: 20px;
    right: 485px;
    .switch_btn{
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 0px;
        right: 0px;
        background: url(../assets/Content_img/paimon_on.png) no-repeat;
        cursor: pointer;
    }
    .switch_btn.off
    {
        background: url(../assets/Content_img/paimon_off.png) no-repeat;
    }
    .region_picker
    {
        position: absolute;
        top: 120px;
        right: 15px;
    }
    .region_options
    {
        list-style-type: none;
        width: 78px;
        height: 78px;
        margin-bottom: 10px;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
        .options1{
            background: url(../assets/Content_img/Content_img/region1.png);
        }
        .options2{
            background: url(../assets/Content_img/Content_img/region2.png);
        }
        .options3{
            background: url(../assets/Content_img/Content_img/region3.png);
            cursor: not-allowed;
        }
        .options4{
            background: url(../assets/Content_img/Content_img/region4.png);
            cursor: not-allowed;
        }
        .options5{
            background: url(../assets/Content_img/Content_img/region5.png);
            cursor: not-allowed;
        }
        .options6{
            background: url(../assets/Content_img/Content_img/region6.png);
            cursor: not-allowed;
        }
        .options7{
            background: url(../assets/Content_img/Content_img/region7.png);
            cursor: not-allowed;
        }
    }
    .region_options.off
    {
        opacity: 0.4;
    }
}
